header{
    background-color: rgba(231, 232, 241, 0.52);
    padding: 15px;
}
.nav-left h1 a{
    text-decoration: none;
}

table{
    width: 100%;
}
table tr th, td{
    padding: 15px;
}

table tr td:nth-child(6){
    width: 30%;
}
