header h1 a{
    color: green;
    text-decoration: none;

}
header h2{
    float: right;
    margin-left: 50rem;
}

.post_header{
}

.header_btn button{
    float: right;
}


.post-entry h2 a{
    font-family: "Times New Roman";
    text-decoration: none;
    font-size: 30px;

}


.post-entry p{
    font-family: Dialog;
    font-size: 25px;

}

.post-entry h2 a:hover{
    color: rgba(0, 128, 0, 0.7);
}

.muallif{
    font-style: italic;
}