<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base html</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Bosh sahifa</a>
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'asosiy' %}">Asosiy sahifa</a>
        <a href="{% url 'about' %}">Saytimiz haiqda</a>
    </header>

    {%block content%}

    {%endblock content%}

</body>
</html>